body{
  font-family: 'Lato',sans-serif;

}
h1{
  font-weight: 100;
  color:#2d3c49;
  font-size: 60px;
}
h4{
  color:#2d3c49;
  font-weight: bold;
}
h2{
  ;
  color:#7d97ad;
}
h3{
  font-weight: bold;
}
